@import 'reset.css';

/* variables */
:root {
  /* BRAND COLOR */
  --first: #1a2857;
  --second: #7bcccd;
  --thirdly: #000000;
  --fourth: #58585a;
  --fifth: #d1d2d4;
  --sixth: #ffffff;
  --primary: #2d2c2c;
}

/* reset */
body,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
li {
  list-style-type: none;
}

/* base styles */
html {
  height: 100%;
  max-height: 100%;
}

body {
  height: 100%;
  max-height: 100%;

  display: grid;
  grid-template-rows: 10% 80% 10%;

  font-family: 'Jua', sans-serif;
}

button {
  width: 100%;
  height: 100%;
  max-height: 100%;

  outline: none;
  border: none;

  font-family: 'Jua', sans-serif;
}

section.content h1,
h2 {
  margin: 0;
}

section.content .item {
  border: 1px solid black;
}

.item .item-title {
  background-color: violet;
}
.item-title .text {
  font-size: 1.4em;
}

.item .item-content {
  background-color: cadetblue;
}

.item-content .text {
  font-size: 1em;
  color: var(--primary);
}

/* fonts */
@font-face {
  font-family: 'Jua';
  src: url('../font/Jua-Regular.ttf');
}

/* primitiveValue
    h1:2em;
    h2:1.5em;
    h3:1.17em;
    h4:1em;
*/

h1,
h2,
h3,
h4,
p,
a,
li {
  color: var(--primary);
  font-weight: normal;
}

/* mobile styles */
.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
}

/* header */
header {
  grid-row: 1;
  background: var(--second);
}

header .grid {
  height: 100%;
  max-height: 100%;
}

header .logo {
  grid-column: 1/3;

  align-self: center;
  padding: 0px 15px;
}

header .info {
  grid-column: 6/9;

  font-size: 1em;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  padding-bottom: 10px;
}

/* main-scrren */
main {
  height: 100%;
  max-height: 100%;

  grid-row: 2/3;

  background: var(--sixth);
}

main .grid {
  height: 100%;
  max-height: 100%;
}

main #app {
  height: 100%;
  max-height: 100%;

  grid-column: 1/9;
}

#app .scrren {
  width: 80%;
  height: 90%;
  max-height: 90%;

  margin: 0 auto;

  /* 임시 */
  background-color: pink;
}

/* path: '/' */
.scrren .menu-btn {
  padding: 10px;
}

.scrren .reservation-btn {
  padding: 10px;
}

.scrren .reservation-btn button {
  height: 10vh;
  max-height: 10vh;

  position: relative;
  top: 1px;

  font-size: 1.3em;
  letter-spacing: 2px;

  transition: all 0.2s;

  border-radius: 10px;
  color: var(--primary);
}

.scrren .menu-btn button {
  height: 10vh;
  max-height: 10vh;

  position: relative;
  top: 1px;

  font-size: 1.5em;
  letter-spacing: 2px;

  transition: all 0.2s;

  border-radius: 10px;
  color: var(--primary);
}

.scrren .menu-btn button {
  background: var(--second);
  box-shadow: 0px 15px 0px 0px #5d9697, 0px 0px 20px 0px #bbb;
}

.scrren .reservation-btn button {
  background: var(--second);
  box-shadow: 0px 15px 0px 0px #5d9697, 0px 0px 20px 0px #bbb;
}

.scrren button.active {
  top: 9px;
  box-shadow: 0px 7px 0px 0px #5d9697;
}

.scrren button:active {
  top: 9px;
  box-shadow: 0px 7px 0px 0px #5d9697;
}

/* path: '/' */
.scrren .home {
  height: 100%;
  max-height: 40vh;

  padding: 10px;

  /* 임시 */
  background-color: red;
}

/* path: '/menu' */
.scrren .menu-card {
  height: 100%;
  max-height: 53vh;

  overflow: auto;
  overflow-x: hidden;

  padding: 10px;

  /* 임시 */
  background-color: red;
}

/* path: '/user_reservation' */
.scrren .user-reservation {
  height: 53vh;
  max-height: 53vh;

  overflow: auto;
  overflow-x: hidden;

  padding: 10px;

  /* 임시 */
  background-color: seagreen;
}

.user-reservation .content {
  text-align: center;

  border: 3px solid skyblue;
}

.user-reservation .content h1 {
  height: 50px;
}

.user-reservation .content .progress {
  text-align: right;
}

.user-reservation .reservation-people {
  height: 100px;
  border: 1px solid red;
}

.reservation-people .people-button {
  width: 60vw;
  height: 40px;
  margin: 0 auto;

  display: flex;
  justify-content: space-evenly;

  background-color: pink;
}

.people-button button {
  width: 100%;
  color: var(--first);
  font-size: 1.2em;
}

.people-button .num {
  width: 100%;
  align-self: center;
  font-size: 1.2em;
}

.people-button button:nth-child(1) {
  width: 50%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.people-button button:nth-child(3) {
  width: 50%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.user-reservation .reservation-time {
  height: 100px;
  border: 1px solid yellow;
}

.reservation-time .time input[type='time'] {
  width: 60vw;
  height: 40px;
  font-size: 1.2em;
}

.user-reservation .reservation-tel {
  height: 100px;
  border: 1px solid springgreen;
}

.reservation-tel p {
  text-align: right;
  font-size: 0.5em;
  font-weight: bold;
}

.reservation-tel .tel input[type='tel'] {
  width: 60vw;
  height: 40px;
  font-size: 1.2em;
}

/* path: '/menu_reservation' */
.scrren .menu-reservation {
  height: 53vh;
  max-height: 53vh;

  overflow: auto;
  overflow-x: hidden;

  padding: 10px;

  /* 임시 */
  background-color: seagreen;
}

.menu-reservation .content {
  border: 3px solid skyblue;
}

.menu-reservation h1 {
  height: 50px;
  text-align: center;
  margin: 0;
}

.menu-reservation .progress {
  text-align: right;
}

.item .item-userSelection {
  display: flex;
  height: 25px;
  justify-content: space-between;

  background-color: pink;
}

.item-userSelection .quantity-buttons {
  display: flex;
  height: 100%;
}

.item-userSelection .num {
  text-align: center;
  width: 75px;
}

.item-userSelection .quantity-buttons button {
  width: 65px;
  height: 100%;
}

/* path: '/confirm' */
.scrren .confirm {
  height: 53vh;
  max-height: 53vh;

  overflow: auto;
  overflow-x: hidden;

  padding: 10px;

  /* 임시 */
  background-color: cornflowerblue;
}

.confirm .content {
  border: 3px solid skyblue;
}

.confirm h1 {
  height: 50px;
  text-align: center;
  margin: 0;
}

.confirm .progress {
  text-align: right;
}

.confirm textarea {
  resize: none;
  width: 100%;

  height: 100px;
  padding: 5px;
}
/* footer */
footer {
  grid-row: 3/4;

  font-size: 0.8em;
  text-align: center;

  padding: 10px 0px;
  background: var(--fourth);
}

footer .grid {
  height: 100%;
  max-height: 100%;
}

footer address {
  grid-column: 1/9;
  grid-row: 1;
}

footer .copyright {
  grid-column: 1/9;
  grid-row: 2;
}
