@import 'reset.css';

/* variables */
:root {
  /* BRAND COLOR */
  --first: #1a2857;
  --second: #7bcccd;
  --thirdly: #000000;
  --fourth: #58585a;
  --fifth: #d1d2d4;
  --sixth: #ffffff;
  --primary: #2d2c2c;
}

/* reset */
body,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
li {
  list-style-type: none;
}

/* base styles */
html {
  height: 100%;
  max-height: 100%;
}

body {
  height: 100%;
  max-height: 100%;

  display: grid;
  grid-template-rows: 10% 80% 10%;

  font-family: 'Jua', sans-serif;
}

button {
  width: 100%;
  height: 100%;
  max-height: 100%;

  outline: none;
  border: none;

  font-family: 'Jua', sans-serif;
}

/* fonts */
@font-face {
  font-family: 'Jua';
  src: url('../font/Jua-Regular.ttf');
}

/* primitiveValue
    h1:2em;
    h2:1.5em;
    h3:1.17em;
    h4:1em;
*/

h1,
h2,
h3,
h4,
p,
a,
li {
  color: var(--primary);
  font-weight: normal;
}

/* mobile styles */
.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
}

/* header */
header {
  grid-row: 1;
  background: var(--second);
}

header .grid {
  height: 100%;
  max-height: 100%;
}

header .logo {
  grid-column: 1/3;

  align-self: center;
  padding: 0px 15px;
}

header .info {
  grid-column: 6/9;

  font-size: 1em;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  padding-bottom: 10px;
}

/* main-scrren */
main {
  height: 100%;
  max-height: 100%;

  grid-row: 2/3;

  background: var(--sixth);
}

main .grid {
  height: 100%;
  max-height: 100%;
}

main #app {
  height: 100%;
  max-height: 100%;

  grid-column: 1/9;
}

#app .scrren {
  width: 80%;
  height: 100%;
  max-height: 100%;

  overflow: scroll;
  overflow-x: hidden;

  margin: 0 auto;

  /* 임시 */
  background-color: pink;
}

/* path: '/' */
.scrren .menu {
  padding: 10px;
}

.scrren .reservation {
  padding: 10px;
}

.scrren button {
  height: 10vh;
  max-height: 10vh;

  position: relative;
  top: 1px;

  font-size: 2em;
  letter-spacing: 2px;

  transition: all 0.2s;

  border-radius: 10px;
  color: var(--primary);
}

.scrren .menu button {
  background: var(--second);
  box-shadow: 0px 15px 0px 0px #5d9697, 0px 0px 20px 0px #bbb;
}

.scrren .reservation button {
  background: var(--second);
  box-shadow: 0px 15px 0px 0px #5d9697, 0px 0px 20px 0px #bbb;
}

.scrren button.active {
  top: 9px;
  box-shadow: 0px 7px 0px 0px #5d9697;
}

.scrren button:active {
  top: 9px;
  box-shadow: 0px 7px 0px 0px #5d9697;
}

/* path: '/menu' */
.scrren .menu-card {
  /* 이전에 했던 높이 */
  /* height: 64vh; */
  height: 52vh;

  max-height: 100%;

  overflow: scroll;
  overflow-x: hidden;

  padding: 10px;

  /* 임시 */
  background-color: red;
}

/* path: '/' */
.scrren .home {
  /* 이전에 했던 높이 */
  /* height: 52vh; */
  height: 40vh;

  max-height: 100%;

  overflow: scroll;
  overflow-x: hidden;

  padding: 10px;

  /* 임시 */
  background-color: red;
}
section.content h2 {
  margin: 0;
}

section.content .item {
  border: 1px solid black;
}

.item .item-title {
  background-color: violet;
}
.item-title .text {
  font-size: 1.4em;
}

.item .item-content {
  background-color: cadetblue;
}

.item-content .text {
  font-size: 1em;
  color: var(--primary);
}

/* footer */
footer {
  grid-row: 3/4;

  font-size: 0.8em;
  text-align: center;

  padding: 10px 0px;
  background: var(--fourth);
}

footer .grid {
  height: 100%;
  max-height: 100%;
}

footer address {
  grid-column: 1/9;
  grid-row: 1;
}

footer .copyright {
  grid-column: 1/9;
  grid-row: 2;
}
